<a href="/">Voltar</a>
<div class="item">
    <h1 class="product-name">{{product.nome}}</h1>
    <img src="{{product.image}}" alt="">
    <p class="preco">{{product.preco}}</p>
    <p class="btn"><a href="#">Comprar</a></p>

</div>


