<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa do Game - Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="navigation"> 
            <ul class="menu">
                <li><a href="../view/Home.handlebars"></a>Home</li>
                <li><a href="../view/Srodutos.handlebars"></a>Home</li>
                <li><a href="../view/Sobre.handlebars"></a>Home</li>

                
            </ul>
        </nav>
    </header>


    
    {{{body}}}


    <footer>
        <p>&copy 2024, Alisson, Todos Os Direitos Reservados</p>
    </footer>
</body>
</html>