<h1>Livros Disponíveis:</h1>

<div class="books-container">
    
    <a href="/">Adicionar livro</a>

    {{#each books}}

        <div>
            #{{this.id}} - 
            <span class="bold"><a href="/book/{{this.id}}">{{this.title}}</a></span>
            - {{this.pageqty}} páginas
        </div>

    {{/each}}
</div>